@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
:root{
    --cor-primaria: black; 
    --cor-secundaria: white;
    --cor-terciaria: aqua;
    --cor-hover: rgb(129, 129, 129);

    --fonte-principal: "Krona One", sans-serif;
    --fonte-secundaria: "Orbitron", sans-serif;
}

body{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: var(--cor-secundaria)

}
.cabecalho-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cabecalho-link{
    font-size: 1.12rem;
    margin: 0 10px;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--cor-terciaria)
}
.cabecalho-link:hover{
    color: var(--cor-secundaria);
}
.container{
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.container-conteudo{
    width: 100%;
}

.container-conteudo-titulo{
    font-size: 1.5rem;
    font-family: var(--fonte-principal);
    font-weight: 400;
}

.container-conteudo-texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.container-link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-link-titulo{
    font-family: var(--fonte-principal);
}

.container-link-links{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-secundaria);
    border:2px aqua solid;
    border-radius: 8px;
    text-align: center;
    width: 70%;
    font-size: 1.5rem;
    margin: 7px;
    padding: 17px;
    text-decoration: none;
    font-weight: 600;
}
.container-link-links:hover{
    background-color: var(--cor-hover);
}

.icon-link{
    width: 25px;
    height: 25px;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.container-imagem-dev{
    width: 100%;
    height: 100%;
}

.imagens-container{
    display: flex;
    flex-direction: column;
}

img{
    width: 50px;
    height: 50px;
    margin: 7px;
}

.rodape{
    display: flex;
    justify-content: center;
    background-color: var(--cor-terciaria);
    color: black;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;

}

.container-conteudo-titulo-infos-pessoais{
    display: flex;
    justify-content: baseline;
    padding: 30px;
}

.container-conteudo-texto-infos-pessoais{
    margin: 10px;
}

@media(max-width: 1200px){
    .container{
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .container-conteudo{
        width: auto;
    }
}
